$base-color: red;
// 左侧菜单宽度
$base-menu-width: 260px;
// 左侧菜单的背景色
$base-menu-background: #001529;
$base-menu-min-width: 50px;

// 导航栏高度
$base-tabbar-height: 50px;
$base-menu-logo-height: 40px;
$base-logo-title-fontsize: 20px;
